@import '../../Colors.scss';
@import '../../Breakpoints.scss';

.aside-menu {
  position: relative;

  width: 0;
  padding: 0;
  transform: translateX(-150px);

  @include for-tablet-portrait-up {
    flex-basis: 150px;
    min-width: 150px;
    transform: translateX(0);
    padding: 0.5em;
  }

  &__nav-wrapper {
    position: sticky;
    top: 3em;
    text-align: left;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  &__nav-link {
    display: block;
    padding-left: 0.5em;
    margin-bottom: 0.2em;
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
    font-size: 0.9rem;

    &:hover {
      padding-left: 1em;
      background-color: $color-background-2;
      color: $color-font-2;
      cursor: pointer;
    }
  }
  &__active {
    border-bottom: 2px solid $color-font-3;
  }
}
