@import './Colors.scss';
@import './Breakpoints.scss';

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 100%;
  max-width: 1800px;
  min-width: 320px;
  margin: auto;
  padding: 0;
  color: $color-font-1;
}
.content-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  min-height: calc(100vh - 110px - 150px);
  @include for-tablet-portrait-up {
    min-height: calc(100vh - 220px - 120px);
  }
}
