// ---main---
$color-background-1: white;
$color-background-2: rgb(38, 37, 43);
// ---reversed---
$color-font-1: rgb(38, 37, 43);
$color-font-2: white;
// ---hover color / color accent---
$color-font-3: rgb(253, 203, 109);