@import '../../Colors.scss';
@import '../../Breakpoints.scss';

.services {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  &__title {
    margin: 0 0 0.5em 0;
    border-bottom: 2px solid $color-font-3;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    @include for-tablet-portrait-up {
      justify-content: flex-start;
    }
  }
}
