@import '../../Colors.scss';
.service-card {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  margin: 0 1em 1em 0;
  border: 2px solid $color-font-1;

  &:hover > &__image {
    opacity: 1;
  }

  &__description {
    margin: 0;
    padding: 0.5em;
    font-size: 0.9rem;
    text-align: left;
  }
  &__image {
    display: block;
    max-width: 216px;
    height: auto;
    opacity: 0.75;
    transition: 0.3s;
  }
  &__price {
    margin: 0;
    padding: 0.5em;
    font-size: 0.9rem;
  }
  &__producers {
    margin: 0;
    padding: 0.5em;
    font-size: 0.75rem;
  }
  &__title {
    width: 90%;
    margin: 0.5em auto;
    padding: 0 0.5em 0 0.5em;
    font-size: 1rem;
    text-align: center;
    border-bottom: 2px solid $color-font-3;
  }
}
