@import '../../Colors.scss';

.main {
  margin: auto;
  text-align: center;
  &__title {
    border-bottom: 2px solid $color-font-3;
    text-transform: uppercase;
  }
  &__text {
    font-size: 1rem;
  }
  &__image-wrapper {
    text-align: center;
    overflow: hidden;
    margin-bottom: 2em;
    img {
      max-width: 100%;
      height: auto;
      opacity: 0.5;
    }
  }
}
