@import '../../Colors.scss';
@import '../../Breakpoints.scss';

.footer {
  width: 100%;
  padding: 1em;
  background-color: $color-background-2;
  color: $color-font-2;

  &a:link,
  a:visited {
    color: $color-font-2;
  }
  &__contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include for-tablet-portrait-up {
      flex-direction: row;
    }
  }
  &__media-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 1em 1em 0;
    @include for-tablet-portrait-up {
      flex-basis: 50%;
      justify-content: flex-end;
    }
  }
  &__media-wrapper-link {
    margin-right: 1em;
  }
  &__media {
    transition: 0.3s;
    font-size: 2rem;
    &--small {
      font-size: 1rem;
      margin-right: 0.5em;
    }
    &:hover {
      color: $color-font-3;
      cursor: pointer;
    }
  }
  &__address-wrapper {
    margin: 0 auto 0.5em auto;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-left: 0.5em;
    font-size: 0.8rem;
    @include for-tablet-portrait-up {
      flex-basis: 50%;
    }
  }
  &__address-wrapper div {
    margin-bottom: 0.25em;
  }
  &__rights {
    text-align: center;
    font-size: 0.8rem;
  }
}
