@import '../../Colors.scss';

.blog-post {
  width: 90%;
  margin: 0 auto;
  &__title {
    border-bottom: 2px solid $color-font-3;
  }
  &__text {
    text-align: justify;
    font-size: 0.9rem;
  }
  &__image-wrapper {
    max-height: 200px;

    overflow: hidden;
    text-align: center;
    object-fit: cover;
    object-position: center;
  }
  &__image {
    max-width: 100%;
    height: auto;
  }
}
